body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table{
    width: 80%;
    margin: 40px auto;
    background-color: rgb(113, 75, 85);
}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: 1px solid black;
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even),table.list thead>tr{
    background-color: rgb(204,200,202);
}
input[type="text"], input[type="number"]